*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Nav CSS */
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    height: 92px;
    padding: 16px 120px;
}
.navi ul{
    display: flex;
    list-style: none;
    max-width: 365px;
    height: 24px;
    gap: 32px;
}
.navi ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;

}
.logo{
    max-width: 139px;
    height: 60px;
}
.NavButton{
    padding: 12.5px 16px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* Hero CSS */
.Hero{
    background-image: url(../assets/hero-bg.png);
    max-width: 1600px;
    height: 674px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 115.5px 120px 0px 120px;
    text-align: center;
}
 #early{
    padding: 8px 12px 8px 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    border-radius: 1000px;
    margin-bottom: 16px;
   
 }
 #early::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #30B868;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 4px rgba(48, 184, 104, 0.25), 0 0 0 8px rgba(48, 184, 104, 0.12);
    margin-right:4px;
 }
 
 .herotitle{
    justify-content: center;
    display: flex;
    flex-direction: column;
 }
  #title2{
    margin-bottom: 16px;
    color: #21693f;
 }
 .herotitle h1{
    font-size: 70px;
    font-weight: 700;
    color: white;
 }
 .herotext{
    /* width: 770px; */
    font-size: 18px;
    font-weight: 400;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
 }
 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    
 }
 .btn a{
    text-decoration: none;
 }
.button1{
    padding: 16px;
    background-color: #30B868;
    border: none;
    display: flex;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.button1 p{
    margin: 0px;
}
.button1 img{
    display: block;
    margin-left: 10px;
}
.button2{
    padding: 16px;
    background-color: #21693f00 ;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: flex;
    cursor: pointer;
}
.button2 p{
    margin: 0px;
}
.button2 img{
    display: block;
    margin-right: 10px;
}

/* sec2 css */
.second{
    max-width: 1600px;
    height: 448px;
    justify-content: center;
    align-items: center;
    padding: 50px 120px 179.5px 120px;
    text-align: center;
    background-color: #fbfbfb;
    overflow: hidden;  
}
.secondtitle h1{ 
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
    
}
.secondtitle p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 44px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.card h2{
    color: #001931;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.card p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.5px;
}
.cards{
    height: 300px;
    width: 322px;
    padding: 24px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0px 0px 30px  #cfcfcf46;
}
.cards img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
    margin-top: 42.5px;
} 

/* Third CSS */
.third{
    max-width: 1600px;
    height: 840px;
    justify-content: center;
    align-items: center;
    padding: 120px;
    background-color: #ffffff;
    display: flex;
    gap: 60px;
}
.thirdInfo{
    width: 700px;
    height: 396;
    border-top: 102;
    border-bottom: 102;
    text-align: left;
}
#thirdHead{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.thirdInfo h2{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.thirdInfo p{
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}
.innerDiv{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}
.innerDiv p{
    margin: 0px;
}
.innerDiv img{
    display: block;
}

/* Forth CSS */
.forth{
    max-width: 1600px;
    height: 506px;
    justify-content: center;
    align-items: center;
    /* padding: 0px 120px 120px 120px; */
    background-color: #ffffff;
}
.forthdiv{
    max-width: 1360px;
    height: 384px;
    margin: 2px 120px 120px 120px;
    padding: 80px 40px;
    background-color: #F7F6F2;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.forthdiv h2{
    font-size: 40px;
    font-weight: 700;
    color:#001931;
    margin-bottom: 16px;
}
.forthdiv p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 24px;
    line-height: 24px;
}
.forthdiv a{
    text-decoration: none;
}
 .forthdiv button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: #ffffff;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}
.lastbtn{
    display: flex;
    justify-content: center;
}

.lastbtn p{
    margin: 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.lastbtn img{
    display: block;
    margin-left: 10px;
}

/* Footer Section CSS */
.foot{
    max-width: 1600px;
    height: 348px;
    background-color: #001931;
    justify-content: center;
    align-items: center;
    padding: 120px 120px 30px 120px;
}
.fmenu{
    display: flex;
    justify-content: space-between;
}
.socials{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    gap: 16px;
}
.ftr-line{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 80px;
    margin-bottom: 30px;
}

.foot p{
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #fafafa;
}

