*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    height: 92px;
    padding: 16px 120px;
}
.navi ul{
    display: flex;
    list-style: none;
    max-width: 365px;
    height: 24px;
    gap: 32px;
}
.navi ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;

}
.logo{
    max-width: 139px;
    height: 60px;
}
.NavButton{
    padding: 12.5px 16px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}